<h1>create team</h1>

<form action="/admin/team/store" method="POST">
    <input type="text" name="image"> <br><br>
    <input type="text" name="name"> <br><br>
    <input type="text" name="designation"> <br><br>
    <input type="text" name="facebook"> <br><br>
    <input type="text" name="twitter"> <br><br>
    <input type="text" name="instagram"> <br><br>
    <input type="text" name="linkedIn"> <br><br>
    <button type="submit">Submit</button>
</form>