<h1>Blog create</h1>
<form action="/admin/blog/store" method="POST">
    <input type="text" name="title"> <br>
    <input type="text" name="image"> <br>
    <input type="text" name="details"> <br>
    <input type="text" name="slag"> <br> <br>

    <button type="submit">submit</button>

    
</form>