<h1>testimonial Create</h1>
<form action="/admin/testimonial/store" method="POST">
    <input type="text" name="details"><br>
    <input type="text" name="image"><br>
    <input type="text" name="name" ><br><br>
     <input type="text" name="designation" ><br><br>
    

    <button type="submit">submit</button>

    
</form>