<h1>contact Create</h1>
<form action="/admin/contact/store" method="POST">
    <input type="text" name="title"><br>
    <input type="text" name="icon"><br>
    <input type="text" name="details" ><br><br>
    

    <button type="submit">submit</button>

    
</form>